<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<h1 class="heading" ng-rainbow>Contact</h1>
<div class="content contentcentered clearfix">
  <div class="contactdisplay">
    <i ng-rainbow class="fa fa-envelope fa-5x"></i>
    <p class="paddingbottom">contact@lettl.io</p>
  </div>
  <div class="contactdisplay">
    <a href="https://github.com/axiomelliott" target="_blank">
      <i ng-rainbow class="fa fa-github fa-5x" ></i>
    </a>
    <p class="paddingbottom">AxiomElliott</p>
  </div>
  <div class="contactdisplay">
    <a  href="https://uk.linkedin.com/in/axiomelliott" target="_blank">
      <i ng-rainbow class="fa fa-linkedin fa-5x"></i>
    </a>
    <p class="paddingbottom">/in/axiomelliott<p>
  </div>
  <div class="contactdisplay">
    <a  href="https://www.dropbox.com/s/nl7omm7689lq921/elliott-thompson-curriculum-vitae.pdf?dl=0" target="_blank">
      <i ng-rainbow class="fa fa-dropbox fa-5x"></i>
    </a>
    <p class="paddingbottom">CurriculumVitae<p>
  </div>
  <div class="contactdisplay">
    <a href="https://twitter.com/axiomell" target="_blank">
      <i ng-rainbow class="fa fa-twitter fa-5x"></i>
    </a>
    <p class="paddingbottom">@AxiomEll</p>
  </div>
  <div class="contactdisplay">
    <a  href="https://instagram.com/axiomelliott/" target="_blank">
      <i ng-rainbow class="fa fa-instagram fa-5x"></i>
    </a>
    <p class="paddingbottom">/axiomelliott<p>
  </div>
</div>
