<h1 class="heading" ng-rainbow>About</h1>
<div class="content">
  <img class="inlineimage" alt="Elliott Thompson" src="/img/elliott-thompson.jpg" />
  <figcaption>Budapest 2015, photo courtesy of <a href="https://www.behance.net/richardthomasjohnson/" target="_blank" class="underlined">Richard Johnson</a></figcaption>
  <p>My name is Elliott Thompson, I'm a software engineer with a keen interest in web and digital design. I enjoy following the rapidly evolving world of technology so i'm always on the lookout for ways I can contribute to new trends.</p>
  <p>I'm currently freelancing as a front end web developer. If you've visited this site as you have a project I may be able to work on, be sure to take a look at my <a href="https://www.dropbox.com/s/nl7omm7689lq921/elliott-thompson-curriculum-vitae.pdf?dl=0" target="_blank" class="underlined">curriculum vitae</a>.</p>
  <p>After completing my degree in computer science I worked at the University of Kent for close to two years. During this time I worked on the full development stack, <a class="underlined" href="https://github.com/AxiomElliott/" target="_blank">coding</a> everything from low level encryption algorithms to mobile interfaces.</p>
  <p>When I'm not <a class="underlined" href="https://github.com/AxiomElliott/" target="_blank">coding</a>, I like to spend my free time playing the guitar, videogames and brushing up on my <a class="underlined" href="https://instagram.com/axiomelliott/" target="_blank">photography</a>.</p>
</div>
